<h1>Upload your Avatar!</h1>
<div>
  <div *ngIf="error">Error {{ error.message }}</div>
  <div *ngIf="uploadResponse.msg">Status error: {{ uploadResponse.msg }}</div>
  <div>
    <div
      role="progressbar"
      [style.width.%]="uploadResponse.message"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ uploadResponse.message }}%
    </div>
  </div>

  <form
    [enctype]="'multipart/form-data'"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <input type="file" multiple name="avatar" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>
  </form>

  <div
    *ngFor="let item of files"
    class="border w-75 m-5 cont-item"
    style="height: 100px; position: relative;"
  >
    {{ item.status }} {{ item.progress }}

    <div
      style="height: 3px; position: absolute; background-color: blue; bottom: 0"
      [ngStyle]="{ width: item.progress + '%' }"
    ></div>
  </div>
</div>
